.footer {
  padding: 3rem 1.5rem 3rem !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
  left: 0;
  li {
    text-decoration: none;
    display: inline-flex;
  }
  a {
    color: map-get($colors, orange);
    i {
      padding: 1em;
    }
  }
  strong {
    color: map-get($colors, black);
  }
}
