/*
* Style variables
* @see: http://sass-lang.com/guide
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$orange: #f58023;
$brown: #404040;
$white: #f4f4f4;
$black: #333;

$main-font: 'Ubuntu', sans-serif;
